{# Copyright 2021 Piotr Tutak

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}
[Unit]
Description=YARN resource manager
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target hdfs.service
Requires=network-online.target

[Service]
User=hadoop
Group=hadoop
Type=forking
Environment="HADOOP_HOME={{ HADOOP_HOME }}"
ExecStartPre=/bin/bash -c '{{ HADOOP_HOME }}/sbin/stop-yarn.sh; {{ HADOOP_HOME }}/sbin/wait-for-safemode.sh'
ExecStart={{ HADOOP_HOME }}/sbin/start-yarn.sh
ExecStop={{ HADOOP_HOME }}/sbin/stop-yarn.sh
WorkingDirectory={{ HADOOP_HOME }}
TimeoutStartSec=5min
Restart=always

[Install]
WantedBy=multi-user.target
