# Copyright 2021 Piotr Tutak

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

deployments:
  - name: hdfs_to_hbase
    type: spark
    job_name: hdfs_to_hbase_table
    params:
      hdfs_ip: 192.168.2.201
      hdfs_rpc_port: 9000
      hdfs_http_port: 9870
      path: /streaming-data/internal_sensor_data_2
      schema_path: /schema/internal_sensor_data.csv.yml
      column:
        - name
        - location
      table: some_table
      queryserver_url: 192.168.2.201:8765
      zookeeper_url: 192.168.2.11:2181/phoenix
