# Copyright 2021 Piotr Tutak

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Required keys
flink.jobmanager.addresses:
{% for port in FLINK_JOBMANAGER_WEB_PORT %}
  - {{ FLINK_MASTER }}:{{ port }}
{% endfor %}
flink.jobs.dir: {{ SUPPORT_HOME }}/jobs/flink

hbase.master.address: {{ HBASE_MASTER }}:{{ HBASE_MASTER_PORT }}
hbase.queryserver.addresses:
  - {{ PHOENIX_QUERYSERVER_MASTER }}:{{ PHOENIX_QUERYSERVER_PORT }}

spark.home: {{ SPARK_HOME }}
spark.jobs.dir: {{ SUPPORT_HOME }}/jobs/spark

deployments.jobs.dir: {{ SUPPORT_HOME }}/deployments

kafka.bootstrap.servers:
{% for host in groups['kafka'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ KAFKA_PORT }}
{% endfor %}

kafka.rest.addresses:
{% for host in groups['kafka'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ KAFKA_REST_PORT }}
{% endfor %}


hdfs.namenode.master: {{ HADOOP_NAMENODE_MASTER }}
hdfs.rpc.port: {{ HADOOP_DFS_NAMENODE_RPC_PORT }}
hdfs.http.port: {{ HADOOP_DFS_NAMENODE_HTTP_PORT }}
hdfs.schema.dir: /datasets-schema
hdfs.dataset.dir: /datasets

log.dir: {{ SUPPORT_HOME }}/logs

host.id: {{ ansible_host }}
