# Copyright 2021 Piotr Tutak

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Phoenix Query Server Service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=hbase
Group=hbase
WorkingDirectory={{ PHOENIX_QUERYSERVER_HOME }}
Environment="JAVA_HOME={{ JAVA_HOME }}"
Environment="HBASE_CONF_DIR={{ HBASE_HOME }}/conf"
Environment="PHOENIX_QUERYSERVER_LOG_DIR={{ PHOENIX_QUERYSERVER_HOME }}/logs"
Environment="PHOENIX_QUERYSERVER_PID_DIR={{ PHOENIX_QUERYSERVER_HOME }}"
ExecStart=/usr/bin/python2 {{ PHOENIX_QUERYSERVER_HOME }}/bin/queryserver.py start
ExecStop=/usr/bin/python2 {{ PHOENIX_QUERYSERVER_HOME }}/bin/queryserver.py stop
TimeoutStartSec=1min
Restart=on-failure

[Install]
WantedBy=multi-user.target
